@using KNTCommon.Business.EventHandlers
@using Radzen.Blazor
@inject IParametersRepository Parameters
@inject HelperService Helper
@inject KNTCommon.Business.Scripts.PowerShellHelper PSHelper

@* SettingsCommonComponent *@

<div class="ScrollableOuterDiv Animation">
    <RadzenStack>
        <RadzenFieldset>
            <RadzenRow id="RadzenRowMarginFormsSettingsLeft">
                <RadzenColumn Size="3">
                    <RadzenLabel class="labelEdit" Text="@Localization.Get("LabelLanguage")"></RadzenLabel>
                </RadzenColumn>
                <RadzenColumn Size="5">
                    <RadzenDropDown class="OverviewDropdown" Data="@languages" TextProperty="Text" ValueProperty="Value" @bind-Value="selectedLanguage" Change="OnChangeLanguage"></RadzenDropDown>
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow id="RadzenRowMarginFormsSettingsLeft">
                <RadzenColumn Size="3">
                    <RadzenLabel class="labelEdit" Text="@Localization.Get("LabelDateAndTime")"></RadzenLabel>
                </RadzenColumn>
                <RadzenColumn Size="7">
                    <RadzenDatePicker class="custom-datepicker" @bind-Value="@selectedDate" ShowTime="true" HoursStep="1" MinutesStep="1" DateFormat="dd.MM.yyyy HH:mm" Change="OnDateChange" />
                </RadzenColumn>
            </RadzenRow>

        </RadzenFieldset>

    </RadzenStack>
</div>

@code {
    private DateTime selectedDate;

    protected override void OnInitialized()
    {
        LoadData();
    }

    public void LoadData()
    {
        selectedDate = DateTime.Now;
        selectedLanguage = Convert.ToInt16(Parameters.GetParametersStr("activeLanguage"));
    }

    private short selectedLanguage = 1;
    private List<Language> languages = new List<Language>
    {
        new Language { Text = "English", Value = 1 },
        new Language { Text = "Slovene", Value = 2 },
        new Language { Text = "German", Value = 3 },
        new Language { Text = "Croatian", Value = 4 },
        new Language { Text = "Serbian", Value = 5 }
    };

    private void OnChangeLanguage(object value)
    {
        Helper.Notify(Parameters.UpdateParameters("activeLanguage", selectedLanguage.ToString()));
    }

    private void OnDateChange(DateTime? value)
    {
        selectedDate = value ?? DateTime.Now;
        selectedDate = new DateTime(selectedDate.Year, selectedDate.Month, selectedDate.Day, selectedDate.Hour, selectedDate.Minute, 0);

        #if DEBUG
        Console.WriteLine($"Novi datum: {selectedDate}");
        #endif

        PSHelper.SetSystemTime(selectedDate);
    }

}
