@* SettingsCommonComponent *@

<div class="ScrollableOuterDiv Animation">
    <RadzenStack>
        <RadzenFieldset>
            <RadzenRow id="RadzenRowMarginFormsSettingsLeft">
                <RadzenColumn Size="3">
                    <RadzenLabel class="labelEdit" Text="Language"></RadzenLabel>
                </RadzenColumn>
                <RadzenColumn Size="5">
                    <AlphanumericInput></AlphanumericInput>
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow id="RadzenRowMarginFormsSettingsLeft">
                <RadzenColumn Size="3">
                    <RadzenLabel class="labelEdit" Text="Date"></RadzenLabel>
                </RadzenColumn>
                <RadzenColumn Size="5">
                    <AlphanumericInput></AlphanumericInput>
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow id="RadzenRowMarginFormsSettingsLeft">
                <RadzenColumn Size="3">
                    <RadzenLabel class="labelEdit" Text="Clock"></RadzenLabel>
                </RadzenColumn>
                <RadzenColumn Size="5">
                    <AlphanumericInput></AlphanumericInput>
                </RadzenColumn>
            </RadzenRow>
        </RadzenFieldset>

    </RadzenStack>
</div>

@code {

}
